---
export const prerender = false;
import { prisma } from "@/lib/prisma";
import Layout from "../layout.astro";
import WebsiteItem from "@/components/websites/website-item";
import WebsiteComments from "@/components/websites/website-comments";
import WebsiteEntrySchema from "@/constants/schemas/website-entry-schema.astro";
import { format } from "date-fns";

import {
    Breadcrumb,
    BreadcrumbItem,
    BreadcrumbLink,
    BreadcrumbList,
    BreadcrumbPage,
    BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import BreadcrumbSchema from "@/constants/schemas/breadcrumb-schema.astro";

Astro.response.headers.set(
    "Cache-Control",
    "public, s-maxage=120, stale-while-revalidate=60",
);

const website = await prisma.websites.findFirst({
    where: {
        name: {
            equals: Astro.params.name,
            mode: "insensitive",
        },
    },
    include: {
        user: {
            select: {
                id: true,
                name: true,
                image: true,
            },
        },
        user_likes: true,
        comment: true,
    },
});

if (!website) {
    return Astro.redirect("/404?error=website-not-found");
}
---

<BreadcrumbSchema
    items={[
        {
            "@type": "ListItem",
            position: 1,
            name: "Browse websites",
            item: `${import.meta.env.SITE}/browse/`,
        },
        {
            "@type": "ListItem",
            position: 2,
            name: website.name,
            item: `${import.meta.env.SITE}/browse/${website.name.toLowerCase()}`,
        },
    ]}
/>
<WebsiteEntrySchema
    name={website.name}
    description={website.description}
    url={website.url}
    image={website.image}
    created_at={website.created_at}
/>
<Layout
    subtitle={website.name}
    description={website.description +
        " - " +
        website.url +
        " @ openshorts.dev " +
        new Date().getFullYear()}
>
    <article class="flex flex-col gap-6 justify-center flex-wrap">
        <Breadcrumb>
            <BreadcrumbList>
                <BreadcrumbItem>
                    <BreadcrumbLink href="/">Home</BreadcrumbLink>
                </BreadcrumbItem>
                <BreadcrumbSeparator />
                <BreadcrumbItem>
                    <BreadcrumbLink href="/browse"
                        >Browse websites</BreadcrumbLink
                    >
                </BreadcrumbItem>
                <BreadcrumbSeparator />
                <BreadcrumbItem>
                    <BreadcrumbPage>{website.name}</BreadcrumbPage>
                </BreadcrumbItem>
            </BreadcrumbList>
        </Breadcrumb>

        <div>
            <h1 class="text-3xl font-extrabold tracking-tight">
                Detailed view of <strong>{website.name}</strong>
            </h1>
            <div>
                <p>
                    Description: <i>{website.description}</i>
                </p>
                <p>
                    Created at: <b
                        >{format(website.created_at, "dd.MM.yyyy HH:mm")}</b
                    >
                </p>
            </div>
        </div>

        <div class="flex gap-2 justify-center items-start flex-wrap w-full">
            <WebsiteItem
                website={{
                    ...website,
                    likesCount: website.user_likes.length,
                    commentsCount: website.comment.length,
                    isLiked: website.user_likes.some(
                        (like) => like.user_id === Astro.locals.user?.id,
                    ),
                }}
                className="!max-w-lg"
                disableCommentsDialog
                client:idle
            />
            <WebsiteComments
                website={website}
                currentUser={Astro.locals.user}
                client:idle
            />
        </div>
    </article>
</Layout>
