---
import Layout from "../layout.astro";
import { format } from "date-fns";

const allPosts = Object.values(
    await import.meta.glob("../../content/blog/*.mdx", { eager: true }),
);

const getSlug = (path: string) => path.split("/").at(-1)!.replace(".mdx", "");
---

<Layout subtitle="Blog posts">
    <section class="flex flex-col justify-center items-center">
        <header class="text-2xl font-semibold">Blog posts</header>
        <div
            class="flex flex-col items-center justify-center flex-wrap gap-2 p-4"
        >
            {
                allPosts
                    .sort(
                        (a: any, b: any) =>
                            new Date(
                                b.frontmatter.pubDate as string,
                            ).getTime() -
                            new Date(a.frontmatter.pubDate as string).getTime(),
                    )
                    .map((post: any) => (
                        <a
                            href={"/blog/" + getSlug(post.file)}
                            class="flex items-center relative overflow-hidden md:min-w-xl min-w-full bg-white dark:bg-neutral-950 px-8 py-6 rounded-md no-underline gap-8 border-[1px] border-transparent hover:border-primary-500 transition-colors"
                        >
                            <div class="flex flex-col gap-3">
                                <p class="text-neutral-500 dark:text-neutral-600">
                                    {format(
                                        post.frontmatter.pubDate,
                                        "dd.MM.yyyy",
                                    )}
                                </p>
                                <div class="space-y-2">
                                    <b class="flex items-center gap-2 text-xl max-w-md text-balance break-words">
                                        {post.frontmatter.title}{" "}
                                    </b>
                                    <p class="max-w-md text-balance break-words">
                                        {post.frontmatter.description}
                                    </p>
                                </div>
                                <ul class="flex items-center gap-2 flex-wrap max-w-md">
                                    {post.frontmatter.tags.map(
                                        (tag: string) => (
                                            <li class="bg-secondary-600 text-white rounded-full px-4 py-1">
                                                {tag}
                                            </li>
                                        ),
                                    )}
                                </ul>
                            </div>

                            <img
                                class="relative lg:block hidden w-3xs z-0"
                                src={post.frontmatter.image}
                                alt={post.frontmatter.title}
                            />
                        </a>
                    ))
            }
        </div>
    </section>
</Layout>
