---
export const prerender = false;
import { Image } from "astro:assets";
import Layout from "../layout.astro";
import { debugLog } from "@/lib/log";
import Container from "@/components/container";
import { LogOut, Star, UploadCloud, User } from "lucide-react";
import SkewedHighlight from "@/components/skewed-highlight";
import { capitalizeFirstLetter } from "@/lib/utils";
import BestUploads from "../../components/profile/best-uploads";
import ProfileStats from "@/components/profile/profile-stats";
import MyUploads from "@/components/profile/my-uploads";
import { Button } from "@/components/ui/button";
import ProfileNameUpdate from "@/components/profile/profile-name-update";
import AdElement from "@/components/ads/ad-element";
import ProfileSchema from "@/constants/schemas/ProfileSchema.astro";
import { actions } from "astro:actions";

const { profile } = Astro.params;
const currentUser = Astro.locals.user;

const isOwnProfile = profile === currentUser?.name;

const { data: profileData } = await Astro.callAction(actions.user.getProfile, {
    profile,
    isOwnProfile,
});

debugLog("DEBUG", "Profile data", profileData);

if (!profileData) return Astro.redirect("/404?error=profile-not-found");

const banDetails =
    isOwnProfile && currentUser
        ? await (
              await Astro.callAction(actions.user.isUserBanned, currentUser)
          ).data
        : null;
---

<ProfileSchema
    name={profileData.name}
    image={profileData.image}
    url={Astro.url}
/>
<Layout
    subtitle={isOwnProfile ? "My profile" : `${profile}'s profile`}
    class="justify-center items-center !gap-2"
>
    <div class="flex flex-wrap gap-2 mt-10">
        <div class="flex flex-col gap-2 lg:w-fit w-full">
            <Container
                className="px-8 relative sm:grow-0 grow dark:bg-neutral-900 dark:border-neutral-700"
            >
                <SkewedHighlight
                    className="absolute sm:-top-16 sm:-left-8 left-[50%] -translate-x-[50%] sm:translate-x-0 -top-16 z-10"
                >
                    <h2
                        class="text-xl font-semibold text-text-950 flex items-center gap-1"
                    >
                        <User />
                        {isOwnProfile ? "My Profile" : "User's Profile"}
                    </h2>
                </SkewedHighlight>
                <div class="flex items-center gap-6">
                    <Image
                        src={profileData?.image!}
                        alt="Profile image"
                        class="rounded-full w-32 h-32"
                        width={128}
                        height={128}
                    />
                    <div>
                        <h2 class="text-3xl font-semibold">
                            {profileData.name}
                        </h2>
                        <p
                            class:list={[
                                profileData.role === "OWNER"
                                    ? "relative inline-block text-primary-500 font-bold before:content-[''] before:absolute before:z-20 before:top-1/2 before:-translate-y-1/2 before:w-full before:h-3 before:rounded-full before:bg-primary-600 before:blur-sm before:animate-pulse"
                                    : "",
                            ]}
                        >
                            {
                                capitalizeFirstLetter(
                                    profileData.role.toLowerCase(),
                                )
                            }
                        </p>
                        {
                            isOwnProfile && (
                                <div class="mt-2">
                                    <a href="/signout">
                                        <Button size={"sm"}>
                                            <LogOut size={18} /> Logout
                                        </Button>
                                    </a>
                                </div>
                            )
                        }
                    </div>
                </div>
            </Container>
            {
                isOwnProfile && profileData.name_change_available && (
                    <Container className="px-8 bg-blue-500 border-blue-600 max-w-lg space-y-4">
                        <div class="text-white text-balance">
                            Your profile name <b>can be changed</b> because your
                            original username is <b>already taken.</b>
                        </div>
                        <ProfileNameUpdate client:idle />
                    </Container>
                )
            }
            {
                isOwnProfile && banDetails && (
                    <Container className="px-8 bg-red-500 border-red-600">
                        <div class="text-white flex flex-col gap-1">
                            You are banned from the platform.
                            <div class="flex flex-col">
                                <span class="font-semibold">
                                    Reason: {banDetails.reason}
                                </span>
                                <span class="font-semibold">
                                    Banned until:{" "}
                                    {new Date(
                                        banDetails.unban_date,
                                    ).toLocaleDateString("en-US", {
                                        year: "numeric",
                                        month: "long",
                                        day: "numeric",
                                    })}
                                </span>
                            </div>
                        </div>
                    </Container>
                )
            }
            <Container
                className="px-8 flex items-center justify-around gap-12 dark:bg-neutral-900 dark:border-neutral-700"
            >
                <ProfileStats name={profileData.name} client:load />
            </Container>
            <AdElement className="min-h-56" client:idle />
            {
                isOwnProfile && (
                    <Container className="dark:bg-neutral-900 dark:border-neutral-700">
                        <h2 class="font-bold pb-1.5 flex items-center gap-1">
                            <UploadCloud /> My uploads
                        </h2>
                        <ul>
                            <MyUploads name={profileData.name} client:load />
                        </ul>
                    </Container>
                )
            }
        </div>
        <Container
            className="relative sm:mt-0 mt-22 grow dark:bg-neutral-900 dark:border-neutral-700"
        >
            <SkewedHighlight
                className="absolute sm:-top-16 sm:left-[80%] left-[50%] -translate-x-[50%] sm:-translate-x-0 -top-20 w-max z-10"
            >
                <h2
                    class="text-xl font-semibold text-text-950 flex items-center gap-1"
                >
                    <Star /> Best uploads
                </h2>
            </SkewedHighlight>
            <div class="flex flex-col gap-4">
                <BestUploads name={profileData.name} client:load />
            </div>
        </Container>
    </div>
</Layout>
