---
export const prerender = true;
import { prisma } from "@/lib/prisma";
import Layout from "../layout.astro";
import WebsiteItem from "@/components/websites/website-item";
import WebsiteComments from "@/components/websites/website-comments";
import WebsiteEntrySchema from "@/constants/schemas/WebsiteEntrySchema.astro";
import { format } from "date-fns";
import { ChevronRight } from "lucide-react";

export async function getStaticPaths() {
    const websites = await prisma.websites.findMany({
        select: { name: true },
    });

    return websites.map((website) => ({
        params: { name: website.name.toLowerCase() },
    }));
}

const website = await prisma.websites.findFirst({
    where: {
        name: {
            equals: Astro.params.name,
            mode: "insensitive",
        },
    },
    include: {
        user: {
            select: {
                id: true,
                name: true,
                image: true,
            },
        },
        user_likes: true,
        comment: true,
    },
});

if (!website) {
    return Astro.redirect("/404?error=website-not-found");
}
---

<WebsiteEntrySchema
    name={website.name}
    description={website.description}
    url={website.url}
    image={website.image}
    created_at={website.created_at}
/>
<Layout
    subtitle={website.name}
    description={website.description +
        " - " +
        website.url +
        " @ openshorts.dev " +
        new Date().getFullYear()}
>
    <section class="flex flex-col gap-2 justify-center items-center flex-wrap">
        <div class="flex gap-2">
            <div class="bg-background-400 text-white py-2 px-6 rounded-md">
                <b>Detailed view of {website.name}</b>
                <p>Uploaded at: {format(website.created_at, "dd.MM.yyyy")}</p>
            </div>
            <a
                href="/#browse"
                class="bg-accent-500 text-white text-shadow-xs text-shadow-black/60 py-2 px-6 font-bold rounded-md flex gap-2 items-center cursor-pointer"
            >
                Check out other Amazing Websites HERE! <ChevronRight />
            </a>
        </div>

        <div class="flex gap-2 justify-center items-start flex-wrap w-full">
            <WebsiteItem
                website={{
                    ...website,
                    likesCount: website.user_likes.length,
                    commentsCount: website.comment.length,
                    isLiked: website.user_likes.some(
                        (like) => like.user_id === Astro.locals.user?.id,
                    ),
                }}
                className="!max-w-lg"
                disableCommentsDialog
                client:idle
            />
            <WebsiteComments
                website={website}
                currentUser={Astro.locals.user}
                client:idle
            />
        </div>
    </section>
</Layout>
