---
export const prerender = true;
import getPrismaInstance from "@/lib/prisma";
import Layout from "../layout.astro";
import WebsiteItem from "@/components/websites/website-item";
import WebsiteComments from "@/components/websites/website-comments";

export async function getStaticPaths() {
    const websites = await getPrismaInstance().websites.findMany({
        select: { name: true },
    });

    return websites.map((website) => ({
        params: { name: website.name.toLowerCase() },
    }));
}

const website = await getPrismaInstance().websites.findFirst({
    where: {
        name: {
            equals: Astro.params.name,
            mode: "insensitive",
        },
    },
    include: {
        user: {
            select: {
                id: true,
                name: true,
                image: true,
            },
        },
        user_likes: true,
        comment: true,
    },
});

if (!website) {
    return Astro.redirect("/404?error=website-not-found");
}
---

<Layout
    subtitle={website.name}
    description={website.description +
        " - " +
        website.url +
        " @ openshorts.dev " +
        new Date().getFullYear()}
>
    <section class="flex flex-col gap-2 justify-center items-center flex-wrap">
        <h1 class="bg-background-400 text-white py-2 px-6 rounded-md">
            Detailed view of {website.name}
        </h1>
        <div class="flex gap-2 justify-center items-start flex-wrap w-full">
            <WebsiteItem
                website={{
                    ...website,
                    likesCount: website.user_likes.length,
                    commentsCount: website.comment.length,
                    isLiked: website.user_likes.some(
                        (like) => like.user_id === Astro.locals.user?.id,
                    ),
                }}
                className="!max-w-lg"
                disableCommentsDialog
                client:idle
            />
            <WebsiteComments
                website={website}
                currentUser={Astro.locals.user}
                client:idle
            />
        </div>
        <div class="bg-background-400 text-white px-4 py-6 rounded-md max-w-xl">
            <h1 class="font-bold text-lg">{website.name}</h1>
            <p class="text-balance break-words">
                {website.description}
            </p>
        </div>
    </section>
</Layout>
