---
export const prerender = true;

const TITLE = "openshorts.dev | search fast, create faster";
const DESCRIPTION =
    "Discover and share the best online tools and websites. Explore useful tools, assets, graphics and more. Contribute your favorites websites to our growing community and enhance your searching experience with AI Search feature.";

import "../styles/global.css";
import { AnalyticsProvider } from "shibuitracker-client/client";
import { Font } from "astro:assets";
import Navbar from "@/components/navbar.astro";
import { Toaster } from "@/components/ui/sonner";
const { subtitle = "", description, class: className, ...props } = Astro.props;
import Background from "@/assets/bc.svg";
import { Dialog } from "easy-dialogs";
import { ClientRouter } from "astro:transitions";
import { ThemeSwitcher } from "@/components/theme-switcher";
import LoadingIndicator from "astro-loading-indicator/component";
import WebsiteSchema from "@/constants/schemas/WebsiteSchema.astro";
import FeedbackButton from "@/components/feedback-button";
import { GoogleTagmanagerPartytown } from "@digi4care/astro-google-tagmanager";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <GoogleTagmanagerPartytown id="GTM-T57K4JBX" />
        <script is:inline>
            const theme = localStorage.getItem("theme");
            const isDark = theme === "dark";
            document.documentElement.classList.toggle("dark", isDark);

            window.updateTheme = (newTheme) => {
                localStorage.setItem("theme", newTheme);
                const applyDark = newTheme === "dark";
                document.documentElement.classList.toggle("dark", applyDark);
            };

            document.addEventListener("astro:after-swap", () => {
                const currentStoredTheme =
                    localStorage.getItem("theme") || "light";
                window.updateTheme(currentStoredTheme);
            });
        </script>

        <ClientRouter fallback="none" />
        {
            import.meta.env.DEV && (
                <script
                    is:inline
                    crossorigin="anonymous"
                    src="//unpkg.com/react-scan/dist/auto.global.js"
                />
            )
        }

        {
            Astro.url.pathname === "/" && (
                <WebsiteSchema
                    siteTitle="www.openshorts.dev"
                    siteUrl={import.meta.env.SITE}
                    siteDescription={Astro.props.description || DESCRIPTION}
                />
            )
        }

        <meta name="google-adsense-account" content="ca-pub-9939390828296488" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index,follow" />
        <meta
            name="googlebot"
            content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
        />
        <meta name="author" content="floyare" />
        <meta
            name="keywords"
            content="tools, websites, search, create, share, online tools, assets, graphics"
        />
        <title>{TITLE} {subtitle ? ` - ${subtitle}` : ""}</title>
        <meta
            name="description"
            content={Astro.props.description || DESCRIPTION}
        />
        <link rel="canonical" href={Astro.url} />
        <meta name="theme-color" content="#501be4" />
        <Font cssVariable="--font" preload />

        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta
            property="og:title"
            content={`${TITLE} ${subtitle ? ` - ${subtitle}` : ""}`}
        />
        <meta property="og:site_name" content="openshorts.dev" />
        <meta
            property="og:description"
            content={Astro.props.description || DESCRIPTION}
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content="/og-bc.webp" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content={`${TITLE} ${subtitle ? ` - ${subtitle}` : ""}`}
        />
        <meta
            name="twitter:description"
            content={Astro.props.description || DESCRIPTION}
        />
        <meta name="twitter:image" content="/og-bc.webp" />
    </head>
    <body
        class:list={[
            "bg-background-950 dark:bg-neutral-950 dark:text-text-950 !py-8 lg:!px-8 md:!px-4 !px-1 text-text-50 rounded-3xl flex flex-col gap-6 relative",
            className,
        ]}
        {...props}
    >
        <Dialog client:only />
        <LoadingIndicator height="8px" color="var(--color-primary-600)" />
        <Background
            class={"fixed top-0 left-0 !w-full !h-full opacity-35 dark: -z-10"}
        />
        <Toaster position="top-right" richColors client:visible />
        <Navbar />
        <AnalyticsProvider children={null} client:idle />
        <slot />
        <div class="fixed bottom-6 right-6 z-10 flex items-center gap-2">
            <FeedbackButton client:visible />
            <ThemeSwitcher client:visible />
        </div>
        <footer
            class="text-sm text-text-500 dark:text-text-900 flex justify-center items-center divide-x divide-current fixed bottom-0 bg-background-900 border-[1px] border-background-700 dark:border-background-200 dark:bg-background-50 w-screen py-3 lg:!-mx-8 md:!-mx-4 !-mx-1"
        >
            <p class="px-2">
                openshorts.dev {new Date().getFullYear()}
            </p>
            <a href="/tos" class="px-2"> Terms of Service </a>
            <a href="/privacy" class="px-2"> Privacy Policy </a>
            <a href="/about" class="px-2"> About project </a>
        </footer>
        <script is:inline>
            window.requestIdleCallback(() => {
                const s = document.createElement("script");
                s.async = true;
                s.src =
                    "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9939390828296488";
                document.body.appendChild(s);
            });
        </script>
    </body>
</html>
