---
export const prerender = false;

const TITLE = "🪄 openshorts";
const DESCRIPTION =
    "Discover and share the best online tools and websites. Explore curated resources and contribute your favorites to our growing community.";

import "../styles/global.css";
import { AnalyticsProvider } from "shibuitracker-client/client";
import { Font } from "astro:assets";
import Navbar from "@/components/navbar.astro";
import { Toaster } from "@/components/ui/sonner";
const {
    subtitle = "",
    description = DESCRIPTION,
    class: className,
    ...props
} = Astro.props;
import Background from "@/assets/bc.svg";
import { Dialog } from "easy-dialogs";
import { Schema } from "astro-seo-schema";
---

<html lang="en">
    <head>
        <Schema
            item={{
                "@context": "https://schema.org",
                "@type": "WebSite",
                name: "openshorts",
                url: "https://openshorts.vercel.app/",
                description: DESCRIPTION,
                publisher: {
                    "@type": "Organization",
                    name: "openshorts.",
                    logo: {
                        "@type": "ImageObject",
                        url: "https://openshorts.vercel.app/favicon.png",
                    },
                },
                // potentialAction: {
                //     "@type": "SearchAction",
                //     target: "https://openshorts.vercel.app/search?q={search_term_string}",
                //     "query-input": "required name=search_term_string",
                // },
            }}
        />

        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{TITLE} {subtitle ? ` - ${subtitle}` : ""}</title>
        <meta name="description" content={Astro.props.description} />
        <link rel="canonical" href={Astro.url} />
        <meta name="theme-color" content="#501be4" />
        <Font cssVariable="--font" preload />

        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta
            property="og:title"
            content={`${TITLE} ${subtitle ? ` - ${subtitle}` : ""}`}
        />
        <meta property="og:description" content={Astro.props.description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content="/og-bc.webp" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content={`${TITLE} ${subtitle ? ` - ${subtitle}` : ""}`}
        />
        <meta name="twitter:description" content={Astro.props.description} />
        <meta name="twitter:image" content="/og-bc.webp" />
    </head>
    <body
        class:list={[
            "bg-background-950 !p-8 text-text-50 rounded-3xl flex flex-col gap-6 relative",
            className,
        ]}
        {...props}
    >
        <Dialog client:idle />
        <Background
            class={"fixed top-0 left-0 !w-full !h-full opacity-35 -z-10"}
        />
        <Toaster position="top-right" richColors client:idle />
        <Navbar />
        <AnalyticsProvider client:idle>
            <slot />
        </AnalyticsProvider>
        <footer
            class="text-sm text-text-500 flex justify-center items-center divide-x divide-current"
        >
            <p class="px-2">
                openshorts. {new Date().getFullYear()}
            </p>
            <a href="/tos" class="px-2"> Terms of Service </a>
        </footer>
    </body>
</html>
