---
export const prerender = false;

const TITLE = "🪄 openshorts";
const DESCRIPTION =
    "Discover and share the best online tools and websites. Explore curated resources and contribute your favorites to our growing community.";

import "../styles/global.css";
import { AnalyticsProvider } from "shibuitracker-client/client";
import { Font } from "astro:assets";
import Navbar from "@/components/navbar.astro";
import { Toaster } from "@/components/ui/sonner";
const { subtitle = "", description, class: className, ...props } = Astro.props;
import Background from "@/assets/bc.svg";
import { Dialog } from "easy-dialogs";
import { Schema } from "astro-seo-schema";
import { ClientRouter } from "astro:transitions";
import { ThemeSwitcher } from "@/components/ui/theme-switcher";

//debugLog("DEBUG", "url", Astro.url);
---

<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }
</script>

<html lang="en">
    <head>
        <ClientRouter fallback="swap" />
        {
            import.meta.env.DEV && (
                <script
                    is:inline
                    crossorigin="anonymous"
                    src="//unpkg.com/react-scan/dist/auto.global.js"
                />
            )
        }
        <Schema
            item={{
                "@context": "https://schema.org",
                "@type": "WebSite",
                name: "openshorts",
                url: "https://openshorts.dev/",
                description: Astro.props.description || DESCRIPTION,
                publisher: {
                    "@type": "Organization",
                    name: "openshorts.",
                    logo: {
                        "@type": "ImageObject",
                        url: "https://openshorts.dev/favicon.png",
                    },
                },
                potentialAction: {
                    "@type": "SearchAction",
                    target: "https://openshorts.dev/?search={search_term_string}",
                    "query-input": "required name=search_term_string",
                },
            }}
        />

        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index,follow" />
        <meta name="author" content="floyare" />
        <title>{TITLE} {subtitle ? ` - ${subtitle}` : ""}</title>
        <meta
            name="description"
            content={Astro.props.description || DESCRIPTION}
        />
        <link rel="canonical" href={Astro.url} />
        <meta name="theme-color" content="#501be4" />
        <Font cssVariable="--font" preload />

        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta
            property="og:title"
            content={`${TITLE} ${subtitle ? ` - ${subtitle}` : ""}`}
        />
        <meta property="og:site_name" content="openshorts.dev" />
        <meta
            property="og:description"
            content={Astro.props.description || DESCRIPTION}
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content="/og-bc.webp" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content={`${TITLE} ${subtitle ? ` - ${subtitle}` : ""}`}
        />
        <meta
            name="twitter:description"
            content={Astro.props.description || DESCRIPTION}
        />
        <meta name="twitter:image" content="/og-bc.webp" />
    </head>
    <body
        class:list={[
            "bg-background-950 !p-8 text-text-50 rounded-3xl flex flex-col gap-6 relative",
            className,
        ]}
        {...props}
    >
        <Dialog client:idle />
        <Background
            class={"fixed top-0 left-0 !w-full !h-full opacity-35 -z-10"}
        />
        <Toaster position="top-right" richColors client:visible />
        <Navbar />
        <AnalyticsProvider client:idle>
            <slot />
        </AnalyticsProvider>
        <div class="fixed bottom-6 right-6 z-10">
            <ThemeSwitcher client:load />
        </div>
        <footer
            class="text-sm text-text-500 flex justify-center items-center divide-x divide-current"
        >
            <p class="px-2">
                openshorts. {new Date().getFullYear()}
            </p>
            <a href="/tos" class="px-2"> Terms of Service </a>
            <a href="/about" class="px-2"> About project </a>
        </footer>
    </body>
</html>
