---
import { debugLog } from "@/lib/log";
import { format } from "date-fns/format";
import { ExternalLink } from "lucide-react";

const allPosts = Object.values(
    await import.meta.glob("./blog/*.mdx", { eager: true }),
);

//console.log("all", allPosts);

const getSlug = (path: string) => path.split("/").at(-1)!.replace(".mdx", "");

const { relatedPosts } = Astro.props;

const related = allPosts.filter((post: any) =>
    relatedPosts.find((r: any) => r.id === getSlug(post.file)),
);
---

<section
    class="flex flex-col gap-2 mt-8 -mx-8 -mb-8 bg-background-950 dark:bg-neutral-800 px-6 py-4 corner-squircle rounded-md"
>
    <h3 class="text-lg">Related posts:</h3>
    <div class="space-y-1">
        {
            related.map((post: any) => (
                <a
                    href={"/blog/" + getSlug(post.file)}
                    class="flex items-center relative overflow-hidden bg-white dark:bg-neutral-950 px-8 py-6 corner-squircle rounded-md no-underline gap-2 border-[1px] border-transparent hover:border-primary-500 transition-colors"
                >
                    <div class="flex flex-col gap-3">
                        <p class="text-neutral-500 dark:text-neutral-600">
                            {format(post.frontmatter.pubDate, "dd.MM.yyyy")}
                        </p>
                        <div class="space-y-2">
                            <b class="flex items-center gap-2 text-xl max-w-md text-balance break-words">
                                {post.frontmatter.title}{" "}
                            </b>
                            <p class="max-w-md text-balance break-words">
                                {post.frontmatter.description}
                            </p>
                        </div>
                        <ul class="flex items-center gap-2 flex-wrap max-w-md">
                            {post.frontmatter.tags.map((tag: string) => (
                                <li class="bg-secondary-600 text-white corner-squircle rounded-full px-4 py-1">
                                    {tag}
                                </li>
                            ))}
                        </ul>
                    </div>
                    <img
                        class="relative lg:block hidden w-3xs z-0 ml-auto"
                        src={post.frontmatter.image}
                        alt={post.frontmatter.title}
                    />
                </a>
            ))
        }
    </div>
</section>
